body {
  font-family: Helvetica, Arial, sans-serif;
}

.board {
  display: grid;
  width: 300px;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  border: 5px solid black;
  border-radius: 5px;
  background: teal;
  color: white;
}

.cell {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.message {
  width: 300px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
